<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>evaluate首頁</title>
</head>
<body>
    {% load tz %}
    <h2 align='center' >文章評價系統</h2>
    {% if request.user.is_authenticated %}
        <p align='center'>{{request.user}} 您已經登入囉</p>
        <form action="/evaluate_article/" method="get">
            {% csrf_token %}
            <table align='center' style='white-space: pre-line;' border="1">
                <tr>
                    <td><button type="submit" name="redirect_offset" value="non_evaluate_article">未評價文章列表</button></td>
                    <td><button type="submit" name="redirect_offset" value="all_evaluate_article">所有文章列表</button></td>
                </tr>
            </table>
        </form>
        <form action="/evaluate_reply/" method="get">
            {% csrf_token %}
            <table align='center' style='white-space: pre-line;' border="1">
                <tr>
                    <td><button type="submit" name="redirect_offset" value="non_evaluate_reply">未評價回文列表</button></td>
                    <td><button type="submit" name="redirect_offset" value="all_evaluate_reply">所有回文列表</button></td>
                </tr>
            </table>
        </form>
        {% else %}
            <p>您尚未登入喔~<a href="/accounts/login/">登入</a></p>
        {% endif %}
</body>
</html>